.optbox {
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 100%;
    margin: 2px;
    flex: 0 0 auto;
}

.optbox h3 {
    font-size: 100%;
    text-align: center;
    margin: 0;
}

.optbox > div {
    width: 100%;
}

.optbox input {
    width: 40px;
    margin-left: 10px;
}

.optbox input {
    width: 60px;
    padding: 2px;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
}
