.optbox {
    border: 2px solid #eee;
    width: 300px;
    float: left;
    height: 100%;
    margin: 2px;
}

.optbox h3 {
    font-size: 100%;
    text-align: center;
    margin: 0;
}

.optbox > div {
    width: 100%;
}

.optbox input {
    width: 40px;
    margin-left: 10px;
}

.optbox input.colour {
    width: 60px;
}
