.status-bar {
    position: absolute;
    overflow: hidden;
    display: flex;
    font-family: monospace;
    justify-content: space-between;
    align-items: center;
}

.status-bar-menu button {
    width: 30px;
}
