code[class*="language-"],
pre[class*="language-"] {
    font-family: monospace;
    line-height: 1.2;
    font-size: 80%;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--color1);
}

.token.string,
.token.regex,
.token.important,
.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.keyword,
.token.inserted {
    color: var(--color2);
}

.token.boolean {
    color: var(--color3);
}

.token.number {
    color: var(--color4);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--color5);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--color6);
}

.token.punctuation {
    color: var(--color7);
}

.token.function,
.token.atrule,
.token.attr-value,
.token.class-name {
    color: var(--color11);
}
